<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site patch:before="*[@name='website']"
			      name="pasantes"
			      hostName="xm103cm.dev.local"
			      targetHostName="xm103cm.dev.local"
			      virtualFolder="/"
			      physicalFolder="/"
			      rootPath="/sitecore/content/Pasantes"
			      startItem="/home"
			      database="master"
			      content="master"
			      domain="extranet"
			      allowDebug="true"
			      cacheHtml="true"
			      htmlCacheSize="10MB"
			      registryCacheSize="0"
			      viewStateCacheSize="0"
			      xslCacheSize="5MB"
			      filteredItemsCacheSize="2MB"
			      enablePreview="true"
			      enableWebEdit="true"
			      loginPage="$(loginPath)pasantes/SitecoreIdentityServer"
			      enableDebugger="true"
			      disableClientData="false"
			/>
		</sites>
	</sitecore>
</configuration>