@model Pasantes.Website.Models.ImageList

<style>
    .image-list {
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
@if (Model == null || Model.Images == null)
{
    <h3>No data source found!</h3>
}
else
{
    <h1>@Model.Title</h1>

    <div class="container">
        <div class="row">
            @foreach (var image in Model.Images)
            {

                <div class="col">
                    <img src="@image.Image.Src" class="img-fluid" alt="Image 1" width="200">
                </div>
                
        @*<a href="@image.Link.Url" class="swpe-card swpe-card--simplified" target="_blank">
                <div class="swpe-card__image-wrapper swpe-card__image-wrapper--tall swpe-image">
                    <img src="" alt="two sharks swim in opposite directions in deep water">
                </div>
                <div class="swpe-card__content-container">
                    <h3 class="swpe-font swpe-font-h5 swpe-font--med">
                        @image.Description
                    </h3>


                </div>
            </a>*@
    }
</div>
        </div>



            }