@using Sitecore.Mvc
<!DOCTYPE html>
<head>
    <title>PASANTES DE SITECORE</title>
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("header")
        @Html.Sitecore().Placeholder("main")
        @Html.Sitecore().Placeholder("footer")
    </div>
</body>