@using Sitecore.Mvc
<div class="row">
    <div class="col-sm-3" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("four-column-one")
    </div>
    <div class="col-sm-3" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("four-column-two")
    </div>
    <div class="col-sm-3" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("four-column-three")
    </div>
    <div class="col-sm-3" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("four-column-four")
    </div>
</div>
