@using Sitecore.Mvc
<div class="row">
    <div class="col-sm-4" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("three-column-left")
    </div>
    <div class="col-sm-4" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("three-column-center")
    </div>
    <div class="col-sm-4" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("three-column-right")
    </div>
</div>
