@using Sitecore.Mvc
<div class="row">
    <div class="col-sm-6" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("two-column-left")
    </div>
    <div class="col-sm-6" style="border: solid black 1px;">
        @Html.Sitecore().Placeholder("two-column-right")
    </div>
</div>
